/* Stylesheet by Yifeng Ai, 2019 */
/*#mapid {
	width: 80%;
   height: 800px;
}*/

html {
	width: 98%;
	height: 98%;
}

body {
	width: 100%;
	height: 100%;
}

.leaflet-popup-content p {
    margin: 0.2em 0;
}

/*.range-slider {
	width: 35%;
}

#forward {
	float: right;
}

#reverse {
	float: left;
}*/
#map {
	height: 100%;
	width: 70%;
	/*display: inline-block;
	*/float:right
}


#menu {
	position: absolute;
	width: 29%;
	height: 98%;
	display: inline-block;
	vertical-align: top;
	text-align: left;
	line-height:0px
}

#det_window {
	position: absolute;
	width: 29%;
	height: 98%;
	display: inline-block;
	vertical-align: top;
	text-align: left;
	line-height:0px
}

#price_window {
	position: absolute;
	width: 29%;
	height: 98%;
	display: inline-block;
	vertical-align: top;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 0px
}

#area_window {
	position: absolute;
	width: 29%;
	height: 98%;
	display: inline-block;
	vertical-align: top;
	text-align: left;
	line-height:0px
}


#ppa_window {
	position: absolute;
	height: 98%;
	width: 70%;
	right:0px;
	display: inline-block;
}

#campus_window {
	position: absolute;
	width: 29%;
	height: 98%;
	display: inline-block;
	vertical-align: top;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height:16px
}
#res_window {
	/*position: absolute;*/
	width: 29%;
	height: 98%;
	display: inline-block;
	vertical-align: top;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height:5px;
}
#bus_window {
	position: absolute;
	width: 29%;
	height: 98%;
	display: inline-block;
	vertical-align: top;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height:2px
}

.updatable {
	/*position:absolute;*/
	top:325px;
	width: 90%;
	text-align: left !important;
	line-height: 5px;
}

#updatable-basic {
	width: 90%;
	margin-top: 50%;
	margin:4px;
	line-height: 18px
}

#tb_flp {
	position:absolute;
	width:70%;
	margin-top: 0%;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
	overflow-wrap: normal;
	line-height: 16px;
}
  
#tb_flp td, #tb_flp th {
	border: 1px solid #ddd;
	padding:2px;
	/*word-wrap: break-word*/
}


#tb_flp tr:nth-child(even){background-color: #f2f2f2;}

#tb_flp tr:hover {background-color: #ddd;}

#tb_flp th {
  padding-top: 3px;
  padding-left: 3px;
  padding-bottom: 3px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

#tb_extra {
	color: grey
}


/* Below shows the compare operator formatting*/

#compare {
	width: 28%;
	height: 100%;
	padding: 4px;
	display: inline-block;
	vertical-align: top;
	top: 10px;
	text-align: left;
	line-height: 3px;
}

#title_menu {
	line-height:30px;
	position: absolute;
	margin-top: 1.5%;
	margin-left: 10px;
	text-align: center;
	font-size: 24px;
	font-family: Arial, Helvetica, sans-serif
}
#intro_menu {
	line-height:24px;
	position: absolute;
	margin-top: 17%;
	margin-left: 2px;
	padding: 9px;
	text-align: left;
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #d6eede

}
.back_to_menu {
	text-align: center;
	font-size:16px;
	background-color: #cc3333;
	display: inline-block;
	padding: 15px 11px;
}
/* Explore*/
#title_explore {
	line-height:5px;
	position: absolute;
	margin-top: 20%;
	margin-left: 10px;
	text-align: left;
	font-size: 16px;
}
#detail_explore {
	position: absolute;
	margin-top: 27.5%;
	margin-left:10px;
	text-align: center;
	font-size: 16px;
	background-color: #4CAF50;
	display: inline-block;
	padding: 15px 29px
}
/* Compare*/
#title_compare {
	line-height: 5px;
	position: absolute;
	margin-top: 75%;
	margin-left: 10px;
	text-align: left;
	font-size: 16px;
}
#price_compare {
	position: absolute;
	margin-top: 82.5%;
	margin-left: 10px;
	text-align: center;
	font-size: 16px;
	background-color: #4CAF50;
	display: inline-block;
	padding: 15px 30px;
	line-height: 18px
}
#radio_group {
	width:98%;
}

#area_compare {
	position: absolute;
	margin-top: 82.5%;
	margin-left: 200px;
	text-align: center;
	font-size: 16px;
	background-color: #999999;
	display: inline-block;
	padding: 4.3px 15px
}
#ppa_compare {
	position: absolute;
	margin-top: 100%;
	margin-left: 10px;
	text-align: center;
	font-size: 16px;
	background-color: #999999;
	display: inline-block;
	padding: 4.3px 16px
}

/*proximities*/
#title_proximity {
	line-height: 5px;
	position: absolute;
	margin-top: 122.5%;
	margin-left: 10px;
	text-align: left;
	font-size: 16px;
}
#campus_proximity {
	position: absolute;
	margin-top: 130%;
	margin-left: 10px;
	text-align: center;
	font-size: 16px;
	background-color: #4CAF50;
	display: inline-block;
	padding: 15px 42px
}
#res_proximity {
	position: absolute;
	margin-top: 130%;
	margin-left: 200px;
	text-align: center;
	font-size: 16px;
	background-color: #4CAF50;
	display: inline-block;
	padding: 15px 28px
}
#bus_proximity {
	position: absolute;
	margin-top: 147.5%;
	margin-left:10px;
	text-align: center;
	font-size: 16px;
	background-color: #4CAF50;
	display: inline-block;
	padding: 15px 36.5px
}

.yr_text {
  	position: relative !important;
  	left:36px;
  	bottom:50px;
  	text-align:justify;
  	color: white !important;
  	font-size:50px;
  	text-shadow: 4px 4px 15px red;
}

.image_button {
	opacity: 0.7;
 	float: left !important;
	width: 45% !important;
 	margin-left: 10px;
 	margin-right: 7px;
 	margin-bottom: 7px;
 	margin-top: 7px;
 }

#to_comparison {
	text-align: center;
	font-size: 16px;
	background-color: #a3a3a3;
	display: inline-block;
	padding: 15px 25px
}

#end_comparison {
	text-align: center;
	font-size:16px;
	background-color: #cc3333;
	display: inline-block;
	padding: 15px 11px;
}

#exit_result {
	text-align: center;
	font-size:16px;
	background-color: #cc3333;
	display: inline-block;
	padding: 15px 11px;
	margin-bottom: -15px;
}

#compareResult {
	width: 28%;
	height: 100%;
	padding: 4px;
	display: inline-block;
	vertical-align: top;
	text-align: left;
	line-height: 3px;
}

#compareInfo {
	text-align: left !important;
	line-height: 20px !important;
	margin-bottom: -12px;
}

#compare_popup {
	text-align: left;
	line-height: 10px;
	margin: 0px;
	padding: 0px;
}

.c_p_basic {
	padding-bottom: 10px;
	font-size:12px;
}

.c_p_detail {
	line-height: 20px;
	margin-top: -5px;
	font-size:12px;
}

#compareRanking {
	line-height: 2px;
}

.perc_j {
	text-align: left;
	padding-top: 18px;
	padding-left: 256px;
}

.perc_j_NA {
	text-align: left;
	padding-top: 18px;
	padding-left: 221px !important;
}

.admin_j {
	text-align: left;
	margin-top: -2px;
	padding-left: 10px;
}

.notif {
	margin-top:300px;
}

.range-slide-new {
	width: 200px;
}

.sequence-control-container {
    width: 350px;
    height: 30px;
    background-color: rgba(255,255,255,0.8);
    padding: 10px;
    line-height: 45px;
    text-align: center;
    border: solid gray 1px;
}

.update_notif_C {
	width: 250px;
    height: 125px;
    background-color: rgba(255,255,255,0.8);
    padding-bottom: 5px;
    padding-top: 15px;
    line-height: 15px;
    text-align: center;
    border: solid gray 1px;
    font-size:16px;
}

#notif_2 {
	margin-bottom: 5px;
}

.legend-circle {
	padding-top: 200px;
}

#TT {
	width: 100%;
	line-height: 5px;
	margin-top: -10px;
	margin-bottom: 10px;
}

#bus_side_window {
	width: 100%;
	line-height: 4px !important;
	font-size: 12px;
}

.legend {
	width: 162px;
    line-height: 27px;
	color: #555;
	background-color: #eeeeee;
	border: solid #111111 1px;
	margin-top: 10px;
	margin-bottom:10px
}
.legend2 {
	width: 132px;
    line-height: 27px;
	color: #555;
	background-color: #eeeeee;
	border: solid #111111 1px;
	margin-top: 10px;
	margin-bottom:10px
}
.legend3 {
	width: 155px;
    line-height: 27px;
	color: #555;
	background-color: #eeeeee;
	border: solid #111111 1px;
	margin-top: 10px;
	margin-bottom:10px
}
.legend i {
    width: 18px;
    height: 18px;
	float: left;

	margin-top: 4px;
	margin-bottom: 4px;
	margin-left: 8px;
    margin-right: 8px;
    opacity: 0.95;
}

#legend_title {
	margin-left: 5px;
	margin-bottom: -2px;
	font-size: 16px;
	float: center;
}